
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* --------------- IMPORTS ------------------ */
@import "./hostel_card.css";
@import "./room_card.css";
@import "./filter.css";
/* ------------------------------------------ */


/* -------------- HEADER STYLES ------------- */
header.nav-bar {
    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* SPACIING */
    padding: 8px 16px;
}

/* ------ logo box ------- */
.header {
    box-shadow: 0px 14px 40px #333;
}

header .logo-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo-box .menu {
    width: 40px;
    padding: 8px;
    border-radius: 50%;
}
header .logo-box .menu:hover {
    background-color: var(--grey);
}

header .logo-box .app-logo {
    height: 30px;
}

/* -------- search box --------- */
header .search-box {
    margin: 0px 13%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex: 0 1 700px; /* flex-grow, flex-shrink, flex-basis */
}

header .search-box .search {
    display: flex;
    width: 100%;
}

header .search-box input[type="search"] {
    width: 100%;
    
    /* SPACING */
    padding: 0px 12px;
    
    /* BORDER STYLES */
    border-style: none;
    border: 1px solid #e2e2e2;
    border-radius: 120px 0 0 120px;
}

header .search-box input[type="search"]:focus-visible {
    outline: thin solid rgb(0, 98, 255);
    outline-offset: -2px;
}

header .search-box input[type="image"] {
    /* dimensions */
    width: 70px;
    height: 40px;
    
    /* spacing */
    padding: 8px;
    
    /* decoration */
    border: 1px solid #e2e2e2;
    border-left-width: 0;
    border-radius: 0 120px 120px 0;
    background-color: var(--grey);
} 

header div.search-box > a,
header .search-box > a {
    /* dimensions */
    width: 42.5px;
    height: 40px;

    /* spacing  */
    padding: 8px;
    margin-left: 10px;
    
    /* decorations */
    border-radius: 100%;
}
header .search-box > a:hover {
    background-color: var(--grey);
}

/* ------- PROFILE BOX ---------- */
header .utility-box {
    height: 40px;
    display: flex;
    gap: 10px;
}

header .utility-box .round-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 100%;
}

header .utility-box .create,
header .utility-box .notification {
    cursor: pointer;
    border-radius: 100%;
}
header .utility-box .round-icon:hover {
    background-color: var(--grey);
}

header div.utility-box div.profile {
    /* used width of image (profile) = 100% not pixels
        The advantage is that the image would adjust to fit into
        the space available in this container.
        Used padding = 5px to remove 5 pixels of space around the border.

        NOTE: if image width had been in pixels, it would be pushed
            of the box when the box space is not enough to accommodate it.
    */
    padding: 5px;
    margin-right: 20px;
}

/* ================= CONTAINER STYLES ============== */
main {
    min-height: 100vh;
    --side-nav-width: 65px; /* this is a variable */
}


main .side-nav,
main .main-content {
    display: inline-block;
    background-color: var(--whitish);
}

main .side-nav {
    min-width: var(--side-nav-width);
    padding: 10px;
    min-height: inherit;
    
    position: fixed;
    top: 106px;
    z-index: 4;
    border-right: 1px solid var(--grey);
}

header {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--whitish);
    width: 100%;
}

main .side-nav .side-nav-icon {
    height: 70px;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
main .side-nav .side-nav-icon:hover {
    background-color: var(--grey);
}

main .side-nav .side-nav-icon > p {
    font-size: 10px;
}

.user-profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--secondary-color);
}
.center-absolute {
    position: absolute;
    bottom: 123px;
    left: 10%;
    right: 10%;
}

.profile-menu {
    position: relative;
    font-size: 12px;
    position: absolute;
    background: var(--whitish);
    width: 200px;
    left: 100px;
    bottom: 150px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 32px -4px #7c7c7ca6;
}
.profile-menu p {
    color: var(--text-color);
    padding: 4px 8px;
    cursor: pointer;
    margin-bottom: 8px;
}
.profile-menu p:hover {
    background: var(--grey);
    border-radius: 6px;
}

/* ------------- main content ----------- */
main .main-content {
    width: calc( 100% - var(--side-nav-width)); /* this is a calculation */
    min-height: inherit;
    margin-left: var(--side-nav-width);
    background-color: var(--light-primary-color);

    display: flex;
    justify-content: space-between;
    position: relative;
}

.filters {
    height: 50px;
    padding: 0 30px;
    background-color: var(--whitish);
    border-bottom: 1px solid var(--grey);
    box-shadow: 0px 6px 14px -12px #333;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    overflow-x: hidden;
    position: sticky;
    z-index: 4;
    top: 56px;
}

.filters span {
    font-size: 14px;
    min-width: fit-content;
    padding: 8px 12px;

    border-radius: 8px;
    border: 1px solid var(--grey);
}

.filters span:hover {
    cursor: pointer;
    background-color: var(--grey);
}

main .main-content .hostel-previews {
    padding: 10px 40px;
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-content: flex-start;
}

/* responsive styles with media queries */
@media screen and (max-width:1000px){
    main .main-content .hostel-previews {
        /* this is to help see the effect 
        ... when the screen size is 1000px and below
        */
        background-color: pink;
    }
}
@media screen and (max-width:800px){
    main .main-content .hostel-previews {
        /* this is to help see the effect 
        ... when the screen size is 800px and below
        */
        background-color: lightgreen;
    }
}
/* end of responsive styles */

main .main-content .hostel-previews .hostel-card {
    width: 360px;
    min-height: 280px;
    cursor: pointer;
    position: relative;
}

span.hostel-timer {
    position: absolute;
    right: 5px;
    top: 178px;

    background-color: rgba(0,0,0,0.7);
    padding: 3px;
    border-radius: 3px;

    width: 40px;
    font-size: 12px;
    color: var(--whitish);
    text-align: center;

    transition: all 0.5s;
}

button.hostel-actions {
    position: absolute;
    right: -5px;
    top: 205px;
    width: 35px;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    color: black;
    border-style: none;

    border-radius: 100%;
    background: transparent;
    cursor: pointer;

    opacity: 0;
}

button.hostel-timer:active {
    background-color: #e2e2e2;
}

main .main-content .hostel-previews .hostel-card .hostel-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.3s;
}
main
.main-content
.hostel-previews
.hostel-card:hover
.hostel-image {
    border-radius: 0%;
}
main
.main-content
.hostel-previews
.hostel-card:hover
.hostel-timer {
    opacity: 0;
}
main
.main-content
.hostel-previews
.hostel-card:hover
.hostel-actions {
    opacity: 1;
}

main .main-content .hostel-previews .hostel-card .hostel-details {
    padding: 8px 0px;
    font-size: 14px;
    color: grey;

    display: flex;
    gap: 10px;
}


main .main-content .hostel-previews .hostel-card .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

main
.main-content
.hostel-previews
.hostel-card
.hostel-description
.hostel-title {
    color: black;
    margin: 0 4px 0 0;
}

main
.main-content
.hostel-previews
.hostel-card
.hostel-description
.channel-verified {
    color: var(--whitish);
    background-color: grey;
    border-radius: 100%;
    padding: 0.5px 2.3px;
    font-size: 10px;
}

main
.main-content
.hostel-previews
.hostel-card
.hostel-description
p {
    margin: 4px 0;
}

/* ROOM PREVIEW */
.room-previews {
    height: 84vh;
    position: sticky;
    top: 106px;
    background-color: var(--whitish);
    border-radius: 16px 0px 0px 16px;
    box-shadow: 7px 10px 20px 0px #6161619e;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 0;
    transition: width 0.6s;
}
.room-previews.show {
    min-width: 40%;
    width: 40%;
    animation: slide-in 0.6s cubic-bezier(0, 0, 0.25, 0.99);
}
.room-previews.closed {
    animation: slide-out 0.6s cubic-bezier(0, 0, 0.25, 0.99);
}

.close-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--whitish);
    cursor: pointer;

    /* xxx */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

.room-listings-header {
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    position: sticky;
    height: 54px;
    top: 0;
    padding: 12px 24px;
    z-index: 4;
    color: var(--whitish);
    background-color: var(--primary-color);
}

@keyframes slide-in {
    0% {
        /* min-width: 0%; */
        transform: translateX(100%);
    }
    100% {
        /* min-width: 40%; */
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    0% {
        /* min-width: 40%; */
        trasnform: translateX(0%);
    }
    100% {
        /* min-width: 0%; */
        transform: translateX(100%);
    }
}


/* active components */
.side-nav-icon.active {
    background-color: var(--grey);
}

/* ================== ROOMS VIEWS ================= */
.main-content.rooms-view {
    gap: 20px;
    padding: 20px 50px;
    flex-wrap: wrap;
}


/* ===================== MAP VIEWS ================= */
.esri-view{
    padding: 0;
    overflow: hidden;
    height: 81vh;
    margin: 10px 24px 0 100px;
    border-radius: 16px;
}