.card {
    padding: 8px;
    max-width: 700px;
    width: 275px;
    max-height: fit-content;
    min-height: 300px;
    border-radius: 24px;
    border: 1px solid #ccc;
    background-color: white;
  
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.card__image {
    flex-grow: 2;
    background-size: cover;
    background-position: center;
    background-color: rgb(191, 191, 191);
  
    width: 400px;
    height: 250px;
  
    border-radius: 16px;
    transition: all 0.3s ease;
}
.card:hover .card__image {
    transform: scale(1.02);
}

.card__details {
    flex-grow: 1;
    width: 100%;
    font-size: 14px;
}

.card__title {
    /* font-size: 1.625rem; */
    margin: 0;
    color: var(--primary-color);
}

.card__subtitle {
    color: #aaa;
    padding: 4px 0;
}

.card__icons {
    padding: 8px 16px;
    width: fit-content;
    margin: 8px 0;
    border-radius: 16px;
    background-color: var(--grey);

    display: flex;
    align-items: center;
    gap: 16px;
}

.card__links {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 16px;
}


@media (max-width: 620px) {
    /* CARD */
    .card {
        flex-direction: column;
        width: 100%;
        align-self: center;
        position: relative;
    }
    .card .card__image {
        width: 100%;
    }
    .card .card__icons {
        position: absolute;
        right: 40px;
        top: 50%;
        box-shadow: var(--multiple-shadow);
    }
    .card .card__description {
        height: fit-content;
    }
}