@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
:root {
    --whitish: #fefefe;
    --grey: #dfdfdf;
    --primary-color: #5a70ff;
    font-family: 'Nunito', sans-serif;
}

.card {
    padding: 8px;
    max-width: 700px;
    width: 275px;
    max-height: fit-content;
    min-height: 300px;
    border-radius: 24px;
    border: 1px solid #ccc;
    background-color: white;
  
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.card__image {
    flex-grow: 2;
    background-size: cover;
    background-position: center;
    background-color: rgb(191, 191, 191);
  
    width: 400px;
    height: 250px;
  
    border-radius: 16px;
    transition: all 0.3s ease;
}
.card:hover .card__image {
    transform: scale(1.02);
}

.card__details {
    flex-grow: 1;
    width: 100%;
    font-size: 14px;
}

.card__title {
    /* font-size: 1.625rem; */
    margin: 0;
    color: var(--primary-color);
}

.card__subtitle {
    color: #aaa;
    padding: 4px 0;
}

.card__icons {
    padding: 8px 16px;
    width: fit-content;
    margin: 8px 0;
    border-radius: 16px;
    background-color: var(--grey);

    display: flex;
    align-items: center;
    gap: 16px;
}

.card__links {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 16px;
}


@media (max-width: 620px) {
    /* CARD */
    .card {
        flex-direction: column;
        width: 100%;
        align-self: center;
        position: relative;
    }
    .card .card__image {
        width: 100%;
    }
    .card .card__icons {
        position: absolute;
        right: 40px;
        top: 50%;
        box-shadow: var(--multiple-shadow);
    }
    .card .card__description {
        height: fit-content;
    }
}

/* ROOM CARD */

.room-card {
    font-size: 14px;
    padding: 20px;
    margin: 24px;
    border-radius: 12px;
    border: 1px solid var(--grey);
    background-color: #f9f9f9;
    align-self: flex-start;
    position: relative;
    transition: all 0.3s ease;
}
.main-content.rooms-view .room-card {
    align-self: flex-start;
    width: 375px;
    margin: 0;
}

.room-card .card__links {
    color: var(--primary-color);
    background-color: var(--grey);
    margin-top: 20px;
}
.room-card .amenity-icons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0;
    flex-wrap: wrap;
    padding: 8px;
    font-size: 10px;
    text-align: center;
}
.room-card .amenity-icon {
    list-style: none;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    padding: 4px;
    background-color: #f0f0f0;
}
.room-card .bedspace {
    font-size: 30px;
    transition: all 0.3s ease;
}
.room-card:hover .bedspace{
    color: var(--primary-color);
}
.room-card .amenity-icons img {
    width: 20px;
    height: 20px;
}
.room-card .price {
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 24px;
    color: #d34095;
}
.room-card .description {
    color: #777777;
    margin-bottom: 8px;
}

.room-card .sex {
    display: flex;
    align-items: center;
    gap: 4px;
}

.room-card .sex-icon {
    width: 20px;
    background-color: var(--grey);
    border-radius: 100%;
    padding: 3px;
}