main {
    min-height: 100vh;
    /* --side-nav-width: 100px; */
}

.hostels-view, .rooms-view, .collections-view {
    /*width: calc( 100% - var(--side-nav-width));*/
    /*min-height: inherit;*/
    margin-left: var(--side-nav-width);
    /*background-color: var(--light-white);*/
    /*display: flex;*/
    /*position: relative;*/
}

.hostels-view { display: flex; }

.collections-view .collections-heading {
    width: 100%;
    padding: 20px 50px;
    background: var(--grey);
    border-bottom: 1px solid var(--greyish);
}

/* ===================== MAP PAGE ================= */
.esri-view{
    padding: 0;
    overflow: hidden;
    height: 81vh;
    margin: 10px 24px 0 100px;
    border-radius: 16px;
}