/* -------------- HEADER STYLES ------------- */
header {
    position: sticky;
    z-index: 4;
    top: 0;
    background-color: var(--whitish);
    border-bottom: thin solid var(--greyish);
    padding: 0 20px;
}

.main-header {
    /* DISPLAY */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    /* SPACING */
    padding: 8px 16px;
}

.side-nav-icon, .logo-box {
    flex-shrink: 0;
}

.main-header .logo-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-header .logo-box .menu {
    width: 40px;
    padding: 8px;
    border-radius: 50%;
}
.main-header .logo-box .menu:hover {
    background-color: var(--grey);
}

.main-header .logo-box .app-logo {
    height: 40px;
}

/* ------- PROFILE BOX ---------- */
.main-header .utility-box {
    height: 40px;
    display: flex;
    gap: 10px;
}

.round-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 100%;
    background-color: var(--grey);
    transition: background-color 0.2s ease-in-out;
}
.round-icon:hover {
    background-color: var(--greyish);
}

.main-header .utility-box .notification {
    cursor: pointer;
    border-radius: 100%;
}

.main-header div.utility-box div.profile {
    padding: 5px;
    margin-right: 20px;
}

/* ====== applied filters ====== */
/* .filters {
    padding: 8px 30px;
    background-color: var(--whitish);
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 6px 14px -12px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: hidden;
}

.filters span {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 40px;
    border: 1px solid var(--grey);
}

.filters span:hover {
    cursor: pointer;
    background-color: var(--grey);
} */

/* =============== NAV LINKS ============== */
.nav-list {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.nav-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    color: var(--text-color);
    transition: background-color 0.4s ease-out;
    border: 2px solid transparent;
}
.nav-link-item > small {
    font-size: 12px;
}

.nav-link-item:hover {
    border: 2px solid var(--greyish);
    background-color: transparent;
}

.active-nav-link {
    background-color: var(--grey);
  }