.price-title {
  margin-top: 20px;
}

.ml {
  margin-left: 20px;
}
.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: rgb(93, 70, 70);
  cursor: pointer;
  
}

.btns:hover{
  background-color: rgb(218, 218, 218);
}