@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --whitish: #fefefe;
  --grey: #dddddd;
  --greyish: #ececec;
  --primary-color: #fa5252;
  --light-white: #e8e9ee;
  --secondary-color: #5a70ff;
  --secondary-color-dark: #2032ac;
  --secondary-color-darkest: #01041d;
  --shadow-color: #32323232;
  /* DAY LIGHT THEME COLORS */
  --background-color: #f0f0f0; /* Light mode background color */
  --text-color: #333; /* Light mode text color */
  --text-color-light: #888; /* Light mode text color */
}

.filter-radio {
  @apply cursor-pointer p-2 rounded-xl border border-gray-300 bg-white text-gray-800 transition-colors duration-200;
}

.filter-radio:hover {
  @apply bg-gray-100;
}

input:checked + .filter-radio {
  @apply bg-primary-color text-white border-primary-color;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}


.lucide {
  fill: none;
  stroke: var(--text-color);
}


.dark-mode {
  --background-color: #1a1a1a; /* Dark mode background color */
  --text-color: #f0f0f0; /* Dark mode text color */
  --whitish: #34383d;
  --grey: #444d56;
  --greyish: #6a737d;
  --shadow-color: #00000032;
  --light-white: #24292e;
}


* {
    margin: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }
