/* ========= SIDE NAV CONTAINER ======= */
.side-nav {
    display: inline-block;
    background-color: var(--whitish);
}

.side-nav {
    min-width: var(--side-nav-width);
    padding: 10px;
    min-height: inherit;

    position: fixed;
    border-right: 1px solid var(--grey);
}
/* ========= HOSTEL CONTAINER ======= */
/* .hostels-container {
    padding: 10px 30px;
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    align-content: flex-start;
} */
.loader-animation {
    text-align: center;
    color: var(--grey);
    margin: 50px 0;
}
.hostels-container,
.rooms-container {
    padding: 10px 30px;
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* align-content: flex-start; */
}

.hostels-container.shrink {
    width: 50%;
    grid-template-columns: 1fr 1fr;
}

/* Adjust the grid template for larger screens */
@media (min-width: 768px) {
    .rooms-container {
        grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
    }
    .hostels-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .room-previews:has('show') .hostels-container {
        grid-template-columns: 1fr 1fr;
        background-color: red;
    }    
}

/* Adjust the grid template for smaller screens */
@media (max-width: 480px) {
    .hostels-container,
    .rooms-container {
        grid-template-columns: 1fr;
    }
}

/* ========= ROOM CONTAINER ======= */
/* .rooms-container {
    display: flex;
    gap: 20px;
    padding: 20px 50px;
    flex-wrap: wrap;
} */

/* ======== POP UP OVERLAY ======== */
.overlay-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000a3;
    left: 0;
    top: 0;
    padding: 100px;
}
.sign-in.overlay-page {
    top: -110px;
    padding: 16px 100px;
}
.sign-in.overlay-page .close-btn {
    top: 80px;
    right: 480px;
}

/* =========== NAV LINKS ============= */
/* .side-nav-icon {
    height: 70px;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.side-nav-icon:hover {
    background-color: var(--grey);
}

#svg-object, .side-nav-icon .icon {
    width: 30px;
    height: 30px;
}

.side-nav-icon > p {
    font-size: 10px;
}

.side-nav-icon.active {
    background-color: var(--grey);
} */
