.room-previews {
    height: 80vh;
    position: fixed;
    top: 130px;
    z-index: 10;
    right: 0;
    background-color: var(--whitish);
    border-radius: 16px 0 0 16px;
    box-shadow: 7px 10px 20px 0 var(--shadow-color);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 0;
    transition: width 0.3s;
}
.room-previews.show {
    min-width: 40%;
    width: 50%;
    animation: slide-in 0.3s cubic-bezier(0, 0, 0.25, 0.99);
}
.room-previews.closed {
    animation: slide-out 0.3s cubic-bezier(0, 0, 0.25, 0.99);
}

.room-previews-header {
    color: var(--text-color-light);
}

/* .room-previews-listings {
    padding: 20px;
} */
.room-previews-listings > * {
    margin: 20px;
}

.close-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--whitish);
    cursor: pointer;

    /* xxx */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.room-listings-header {
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 6px 16px;
    z-index: 4;
    font-size: 0.85rem;
    color: var(--whitish);
    background-color: var(--text-color);
}

@keyframes slide-in {
    0% {
        /* min-width: 0%; */
        transform: translateX(100%);
    }
    100% {
        /* min-width: 40%; */
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    0% {
        /* min-width: 40%; */
        transform: translateX(0%);
    }
    100% {
        /* min-width: 0%; */
        transform: translateX(100%);
    }
}
